#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(189, 59%, 59%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(189, 58%, 66%);
}

button:active{
    background-color: hsl(189, 58%, 66%);
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult{
    margin: 25px;
}

#imageResult img{
    margin: 5px;
    width: 150px;
}