#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#buttons-container{
    text-align: center;
}

.button{
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 5px;
    color: white;
    background-color: rgb(153, 218, 248);
    cursor: pointer;
    transition: background-color 0.25s;
}

.button:hover{
    background-color: rgb(32, 180, 248);
}