body{
    background-image: url("images/image1.jpg");
    height: 100vh;
    margin: 0;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password-container{
    background-color: #faf0ca;
    padding: 25px 30px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    box-shadow: 5px 10px 15px;
}

.input-container{
    background-color: white;
    border-radius: 10px;
    border: solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
}

h2{
    font-size: 2.5em;
}

.input{
    font-size: 1.3em;
    border: none;
    display: flex;
    align-items: center;
    outline: none;
}

.input::placeholder{
    letter-spacing: 0px;
}

.fa-copy{
    cursor: pointer;
    opacity: 0.3;
}

.fa-copy:hover{
    opacity: 0.7;
}

.btn{
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    background-color: rgb(18, 96, 160);
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 8px black;
}

.btn:hover{
    background-color: rgb(14, 77, 128);
}

.btn:active{
    transform: scale(0.98);
}

.alert-container{
    position: fixed;
    width: 300px;
    height: 50px;
    right: 20px;
    bottom: 20px;
    background-color: #faf0ca;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    transition: 0.4s;
    border-radius: 10px;
    box-shadow: 0px 2px 8px white;
    padding-left: 15px;
}

.alert-container.active{
    right: -500px;
}