body{
    font-family: Verdana;
    text-align: center;
}

#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: rgb(77, 236, 241);
}

#myButton:hover{
    background-color: rgb(35, 180, 185);
}

.myLabels{
    font-size: 3em;
}