body{
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(40, 40, 90);
}
.game-container{
    text-align: center;
}

h1{
    font-size: 3.2em;
    font-weight: bold;
    color: white;
}

.cell{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(1, 1, 36);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

.cell:hover{
    background-color: rgb(27, 27, 58);
}

.cell-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    box-sizing: border-box;
    width: 100%;
}

.result{
    font-size: 2em;
    font-weight: bold;
    margin: 30px;
    color: white;
}

.restart{
    font-size: 1.5em;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    background-color: rgb(23, 23, 73);
    color: white;
    cursor: pointer;
}

.restart:hover{
    background-color: rgb(48, 48, 104);
    transform: translateY(-3px);
}

.restart:active{
    transform: scale(0.98);
}